:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ECF0F1;
}

/*Поиск*/

.main-icon{
    height: 50px;
    width: 50px;
    top:5px;
    left:5px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.tags-input {
    display: inline-block;
    border-radius: 20px;
}

.main-input{
    min-width: 200px;
    border-radius: 20px;
    text-align: center; 
}

.tags-input .tag {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin-bottom: 5px;
    margin-left: 5px;
    display: inline-block;
    background-color: #BDC3C7;
    transition: all 0.1s linear;
    cursor: pointer;
	border-radius: 20px;
}

.tags-input .tag:hover {
    background-color: #7F8C8D;
    color: white;
}

.tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
}

.tags-input .tag .close:hover::after {
    color: red;
}

.tags-input .main-input {
    border: 0;
    outline: 0;
    padding: 0.5em 0.1em;
}

/*изображения*/

.images .image_div{
	padding-top: 20px;
	height: 200px;
    width: 200px;
	
}

.images .image_div:hover .images_button{
	visibility: visible;
	opacity: 1;
}

.images .img {
	height: 200px;
    width: 200px;
	
    position:absolute;
}
.images .images_button {
    position:relative;
	visibility: hidden;
    opacity: 0;
	transition-property: opacity;
	transition: opacity 0.3s, visibility 0s linear 0.3s;

}

#save{
    height: 50px;
    width: 50px;
    top:75px;
    left:75px;
}

#copy{
    height: 50px;
    width: 50px;
    top:75px;
    left:25px;
}

#delete{
    height: 25px;
    width: 25px;
    top:-10px;
    left:65px;
}

.submiting {
    padding: 10px 10px;
}

.submiting .submiting_elem{
   margin-right: 5px;
   margin-bottom: 5px;
}
